<!DOCTYPE html>
<html>
  <head>
    <title>FuzzyWords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <%= yield %>

  </body>
</html>

            <!-- // <div className="ui icon input">
            //   <input name="query" type="text" placeholder="Search words..." onFocus={this.onChange} onChange={this.onChange} autoComplete="off" />
            // </div>
            // {results.length > 0 || loading ? <SearchResult results={results} loading={loading} addToMywords={this.addToMywords} /> : null} -->
